<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>YourMusicLib</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/custom.css') }}">
  </head>
  <body class="hero-image">
    {% include 'includes/_navbar.html' %}
    <div class="container" style="font-family: 'Pacifico', cursive;">
      {% include 'includes/_messages.html' %}
      {% block body %}{% endblock %}
    </div>
  </body>
</html>