<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>YourMusicLib</title>
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/custom.css">
  </head>
  <body class="hero-image">
    {% include 'includes/_navbar.html' %}
    <div class="container" style="font-family: 'Pacifico', cursive;">
      {% include 'includes/_messages.html' %}
      {% block body %}{% endblock %}
    </div>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </body>
</html>