{% extends 'layout.html' %}

{% block body %}
<div class="jumbotron text-center">
    <h2 style="color:#FF689B">Please enter your email and password</h2>
    <div class="container">
<form name="login_form" action="" method="post">

    <input type="email" placeholder="email" name="email">
    <input type="password" placeholder="Password" name="password">
    <button type="submit" class="btn-secondary" name="button" value="login">
        Sign In
    </button>

</form>
    </div>

</div>
{% endblock %}